
<ng-include src="'/js/views/timer-controller.html'"></ng-include>
<input type="checkbox" id="toggle-menu"/>

<div class="game-container">
    <div class="menu">
        <ng-include src="'/js/views/menu-controller.html'"></ng-include>
    </div>
    <div class="content">
        <div class="board-row">
            <div ng-controller="BoardController" class="board-wrapper">
                <ng-include src="'/js/views/board-controller.html'"></ng-include>
            </div>

            <div ng-controller="StatsController" class="stats-wrapper">
                <ng-include src="'/js/views/stats-controller.html'"></ng-include>
            </div>
        </div>
    </div>
</div>